img {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    display: block;
    margin-bottom: 20px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
  
img.loaded {
    opacity: 1;
}